@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.fade-enter {
  @apply opacity-0;
}

.fade-enter-active {
  @apply opacity-100 transition-opacity duration-500 ease-in-out;
}

.fade-exit {
  @apply opacity-100;
}

.fade-exit-active {
  @apply opacity-0 transition-opacity duration-500 ease-in-out;
}

.title{
  @apply text-[24px] font-bold;
}

.normal{
  @apply text-[16px] font-semibold;
}

.desc{
  @apply text-[12px] text-[#d6d6d6];
}

.caption{
  @apply text-[10px];
}